/* CONTENT HOME */

.main-content-itself-inner-home {
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
}

/* HOME DIVIDER */

.main-content-itself-inner-home-divider {
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.05);
}

/* HOME HEADER */

.main-content-itself-inner-home-header {
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    font-family: var(--f-inter);
}

.main-content-itself-inner-home-header-itself {
    color: white;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 400;
}

.main-content-itself-inner-home-header-paragraph {
    width: 700px;
    color: white;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
}

/* HOME MOVIE, TV SHOW, AND SERIES OF THE DAY */

.main-content-itself-inner-home-best {
    padding-block: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* HOME BEST ITSELF */

.main-content-itself-inner-home-best-itself {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-family: var(--f-inter);
}

.main-content-itself-inner-home-best-itself-text {
    color: white;
    font-weight: 400;
}

/* HOME BEST ITSELF LINK */

.main-content-itself-inner-home-best-itself-inner {
    text-decoration: none;
    padding: 6px;
    background-color: rgba(255,255,255,0.02);
    border: 1px solid rgba(255,255,255,0.05);
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    transition: background-color 300ms;
}

.main-content-itself-inner-home-best-itself-inner-image {
    width: 100%;
    line-height: 0;
    border: 1px solid rgba(255,255,255,0.05);
    border-radius: 0.5rem;
    overflow: hidden;
}

.main-content-itself-inner-home-best-itself-inner-image-itself {
    width: 100%;
}

.main-content-itself-inner-home-best-itself-inner-name-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 5px;
}

.main-content-itself-inner-home-best-itself-inner-name {
    color: white;
    font-weight: 400;
    padding-left: 5px;
}

/* HOME BEST ITSELF LINK STATES */

.main-content-itself-inner-home-best-itself-inner:hover {
    background-color: rgba(255,255,255,0.05);
}