/* MOVIE CONTENT */

.main-content-itself-inner-movie {
    display: flex;
    flex-direction: column;
    padding-inline: 40px;
}

/* MOVIE INPUT */

.main-content-itself-inner-movie-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    padding-block: 40px;
}

.main-content-itself-inner-movie-input-header {
    color: white;
    font-family: var(--f-inter);
    text-transform: uppercase;
    font-weight: 300;
}

.main-content-itself-inner-movie-input-container {
    width: 750px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: rgba(255,255,255,0.03);
    border-radius: 0.3rem;
    overflow: hidden;
    border: 1px solid rgba(255,255,255,0.03);
    transition: background-color 200ms;
}

.main-content-itself-inner-movie-input-itself {
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    outline: none;
    padding-inline: 15px;
}

.main-content-itself-inner-movie-input-itself-svg-container {
    padding-inline: 13px;
    display: flex;
    align-items: center;
    cursor: text;
}

.main-content-itself-inner-movie-input-itself-svg {
    color: rgb(200,200,200);
    transition: color 200ms;
}

.main-content-itself-inner-movie-input-container:focus-within .main-content-itself-inner-movie-input-itself-svg {
    color: white;
}

.main-content-itself-inner-movie-input-container:focus-within {
    background-color: rgba(255,255,255,0.05);
}

/* MOVIE OUTPUT */

.main-content-itself-inner-movie-output {
    padding-block: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

/* MOVIE OUTPUT ITSELF */

.main-content-itself-inner-movie-output-itself {
    padding: 6px;
    background-color: rgba(255,255,255,0.02);
    border-radius: 0.4rem;
    border: 1px solid rgba(255,255,255,0.02);
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    text-decoration: none;
    font-family: var(--f-inter);
    transition: background-color 200ms, border 200ms;
}

.main-content-itself-inner-movie-output-itself-image {
    width: 100%;
    border-radius: 0.2rem;
    border: 1px solid rgba(255,255,255,0.05);
    overflow: hidden;
    line-height: 0;
}

.main-content-itself-inner-movie-output-itself-image-itself {
    width: 100%;
    transition: scale 200ms;
}

.main-content-itself-inner-movie-output-itself-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    padding: 5px;
}

.main-content-itself-inner-movie-output-itself-info-name {
    color: white;
    font-weight: 600;
}

.main-content-itself-inner-movie-output-itself-info-rating {
    color: white;
    font-weight: 400;
}

/* MOVIE OUTPUT ITSELF STATES */

.main-content-itself-inner-movie-output-itself:hover {
    background-color: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.05);
}

.main-content-itself-inner-movie-output-itself:hover .main-content-itself-inner-movie-output-itself-image-itself {
    scale: 1.1;
}